@model FirstCoreApp.Models.News

@{
    ViewData["Title"] = "Edit";
}
<center>
    <h1 class="icofont-color-bucket">Edit News</h1>
</center>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Tiltle" class="control-label"></label>
                    <input asp-for="Tiltle" class="form-control" />
                    <span asp-validation-for="Tiltle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=" Image " class="control-label"></label>
                    <img src="/images/News/@Model.Image" width="200" height="200" />
                    <input asp-for="File" type="file" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic" class="control-label"></label>
                    <input asp-for="Topic" class="form-control" />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<center>
    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</center>
