@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <center>
        <h1 class="icofont-color-bucket">@ViewData["Title"]</h1>
        <p class="icofont-color-picker">You have successfully logged out of the application.</p>
    </center>
</header>
