<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>The World News  </title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/~/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: World News - v2.0.0
    * Template URL: https://bootstrapmade.com/World News-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <i class="icofont-clock-time"></i> @DateTime.Now
            </div>
            <div class="d-flex align-items-center">
                <i class="icofont-phone"></i> Call us now 01091835821
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <!-- <a href="index.html" class="logo mr-auto"><img src="~/assets/img/logo.png" alt=""></a>  -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="logo mr-auto"><a href="index.html">The World</a></h1>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/Home/index">Home</a></li>
                    <li><a href="/Home/TeamMember">Team Members</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>

                    @*<li><a href="/AdminPanel/News">News mangement</a></li>*@
                    @*<li><a href="/AdminPanel/">Categories mangement</a></li>*@
                    @*<li><a href="/Home/Messages">Show Messages</a></li>*@
                    <li><a href="/AdminPanel/Default">Admin Panel</a></li>
                    @*<li><a href="/AdminPanel/">Team Members Mangement</a></li>*@

                    @*<li><a href="/Identity/Account/Register" class="icofont-color-bucket"><h4>Register</h4></a></li>
        <li><a href="/Identity/Account/Login" class="icofont-color-picker"><h4>Login</h4></a></li>*@
                    <li> <partial name="_loginPartial" /> </li>
                </ul>

            </nav><!-- .nav-menu -->
            @*<a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>*@

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!--<section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">-->
    <!-- Slide 1 -->
    <!--<div class="carousel-item active" style="background-image: url(/assets/img/slide/1.jpg)">
        <div class="container">
            <h2>Welcome to <span>World News</span></h2>
            <p>اهلا بيك فى نهاية العالم</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
    </div>-->
    <!-- Slide 2 -->
    <!--<div class="carousel-item" style="background-image: url(/assets/img/slide/2.jpg)">
        <div class="container">
            <h2>موقع رونيسكا أخبار حصرية</h2>
            <p>اهلا بيك فى نهاية العالم</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
    </div>-->
    <!-- Slide 3 -->
    <!--<div class="carousel-item" style="background-image: url(/assets/img/slide/3.jpg)">
                    <div class="container">
                        <h2>This Site Designed by / Ahmed Khaled</h2>
                        <h4>اهلا بيك فى نهاية العالم</h4>
                        <a href="#about" class="btn-get-started scrollto">Read More</a>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </section>-->
    <!-- End Hero -->
    <!--  Hero اللى هو فيه نفس السيكشن بتاع  partial carsour اللى فوق كومنت و عوضت عنه بال Hero انا عملت سيكشن -->
    <!-- partial اقدر استدعى الكرسور فى اى مكان لان عامله -->


    <partial name="_Carsour" />
    <main id="main">

        @*<div class="container">
            @RenderSection("UpHeader", false)
        </div>*@  

        @RenderBody()
        @RenderSection("scripts", false)


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="copyright">
            &copy; Copyright <strong><span>The World News</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/World News-free-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">Ahmed Khaled</a>

        </div>
        <center>
            <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </center>

    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>



   

</body>

</html>




